@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    margin: 0px;
    background-color: antiquewhite;
    font-family:"Merriweather";
}

h1, ul{ margin: 0px;}

header{
    background-color: rgb(216, 203, 187);
}

/* Flex container*/
.box{
    padding: 6px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-width{
    min-width: 200px;
    max-width: 500px;
}

p{ padding: 1em; }

li{
    display: inline;
    margin-right: 12px;
}

.form > input{
    padding: 5px;
    margin: 5px;
    max-width: 200px;
}
    .txtfield{
        background-color: rgb(211, 208, 206);
        border-style: none;
    }

